.banners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.one_max {
  width: 2800px;
  height: 250px;
}
.one_adptive {
  width: 850px;
  height: 250px;
}
.one_min {
  width: 850px;
  height: 250px;
}
.three {
  width: 300px;
  height: 600px;
}
