html {
  background-color: #558324;
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  justify-content: center;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: move 20s;
  animation-timing-function: steps(1);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  align-items: center;
}
.container_content {
  max-height: 250px;
}
.yandex_logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 135%;
}

.additional_information {
  top: 446%;
}
.product {
  top: 234%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding-left: 63px;
}
.yandex {
  padding: 17px 36.33px 0 0;
}
.logo {
  animation-name: logo;
  animation-duration: 1s;
  animation-delay: 2s;
  padding-bottom: 1px;
}
.market {
  padding: 20px 0 0 38.47px;
}
.left_img {
  margin-bottom: -3px;
}
.pils_left {
  margin: 0 0 0 30px;
  position: relative;
  z-index: 100;
  right: 11px;
}
.sheet_left,
.sheet_right,
.sheet_right_slide_two,
.sheet_left_slide_two,
.sheet_left_min,
.sheet_left_slide_two_min {
  animation: sheet_move 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.sheet_left {
  padding-top: 40px;
  position: absolute;
  z-index: -1;
}
.right_img {
  margin-bottom: -3px;
}

.pils_right {
  position: relative;
  z-index: 100;
  right: 17px;
}

.sheet_right {
  padding-top: 40px;
  margin-left: 146px;
  position: absolute;
  z-index: -1;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  right: 75px;
}
.title_product {
  font-family: "Yandex Sans Display";
  font-style: normal;
  font-weight: 900;
  font-size: 114px;
  line-height: 80%;
  color: #ffffff;
  margin: 0;
  padding: 57px 0 0 0;
}
.title_delivery {
  margin: 0;
  font-family: "Yandex Sans Display";
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 96%;
  color: #ffffff;
  padding-top: 55px;
  padding-right: 13px;
  word-spacing: -3px;
}
.sign_slide_one {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 90%;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin: 37px 0 0 0;
  opacity: 0.5;
  letter-spacing: -3px;
}
.delivery {
  top: 335%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding-left: 20px;
}
.left_img_slide_two {
  margin-bottom: -3px;
}
.pils_left_slide_two {
  margin: 0 0 0 30px;
  position: relative;
  z-index: 100;
  right: -30px;
}
.sheet_left_slide_two {
  padding-top: 38px;
  position: absolute;
  z-index: -1;
  padding-left: 42px;
}
.right_img_slide_two {
  margin-bottom: -3px;
}
.text_slide_two {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  right: 111px;
}
.pils_right_slide_two {
  position: relative;
  z-index: 100;
  right: 142px;
}

.sheet_right_slide_two {
  padding-top: 40px;
  margin-left: 22px;
  position: absolute;
  z-index: -1;
}
.sign_slide_two {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 90%;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin: 51px 0 0 0;
  opacity: 0.5;
  letter-spacing: -3px;
}
.information {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 88px;
  padding-top: 6px;
}
.limitation {
  height: 88px;
  width: 88px;
  opacity: 0.5;
  border: 3.46698px solid #ffffff;
  border-radius: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 9px;
}
.limitation_text {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 400;
  font-size: 41.6037px;
  line-height: 49px;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
}
.requisites_text {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #ffffff;
  opacity: 0.5;
  padding-left: 17px;
  max-width: 2021px;
}
.warning_text {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 400;
  font-size: 91px;
  line-height: 100%;
  letter-spacing: -6px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding-left: 9px;
  opacity: 0.5;
  padding-top: 12px;
  word-spacing: 1px;
}
.yandex_logo,
.product,
.delivery,
.additional_information {
  position: relative;
  opacity: 0;
  animation: slideshow 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.pils_right_min,
.pils_right_slide_two_min,
.sheet_left_min,
.sheet_left_slide_two_min,
.Gold_text {
  display: none;
}
@keyframes slideshow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes move {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-175%);
  }
  50% {
    transform: translateY(-375%);
  }
  75% {
    transform: translateY(-575%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes logo {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
@keyframes sheet_move {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 2798px) {
  .yandex_logo {
    top: 148%;
  }
  .market {
    width: 26.5%;
    padding: 5px 0 0 20px;
  }
  .yandex {
    width: 27%;
    padding: 2px 18.79px 0px 0px;
  }
  .logo {
    width: 9%;
    padding-bottom: 8px;
  }
  .text {
    align-items: center;
    right: 0px;
    padding-left: 59px;
  }
  .title_product {
    font-weight: 900;
    font-size: 70px;
    line-height: 90%;
    text-align: center;
    padding: 47px 0 0 0;
    position: relative;
    right: 16px;
    max-width: 370px;
  }
  .sign_slide_one {
    font-weight: 400;
    font-size: 22px;
    letter-spacing: -3px;
    line-height: 90%;
    display: flex;
    align-items: center;
    color: #ffffff;
    margin: 30px 41px 0 0;
  }
  .sheet_left,
  .pils_right,
  .pils_left_slide_two,
  .sheet_right_slide_two,
  .sheet_left_slide_two,
  .pils_left,
  .sheet_right,
  .pils_right_slide_two,
  .sign_slide_two {
    display: none;
  }
  .sheet_left_min {
    display: block;
    position: relative;
    right: -2px;
    padding-top: 50px;
  }
  .pils_right_min {
    display: block;
    position: relative;
    z-index: 100;
    right: 20px;
  }
  .right_img {
    margin-bottom: 3px;
  }
  .product {
    top: 254%;
    padding-left: 52px;
  }
  .left_img {
    margin-bottom: -1px;
  }
  .text_Omega3 {
    display: none;
  }
  .delivery {
    top: 352%;
    padding-left: 49px;
  }
  .pils_right_slide_two_min {
    display: block;
    top: 4px;
    position: relative;
    right: 23px;
  }
  .sheet_left_slide_two_min {
    position: relative;
    display: block;
    top: 30px;
  }
  .title_delivery {
    font-size: 48px;
    line-height: 90%;
    text-align: center;
    font-feature-settings: "pnum" on, "lnum" on;
    padding-top: 13px;
    padding-right: 9px;
    word-spacing: -3px;
    color: #ffffff;
  }
  .Gold_text {
    display: block;
    font-family: "Yandex Sans Text";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 90%;
    display: flex;
    color: #ffffff;
    opacity: 0.5;
    position: relative;
    top: 52px;
    right: 7px;
    letter-spacing: -2.5px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  .text_slide_two {
    right: 0px;
    padding-top: 9px;
  }
  .additional_information {
    top: 449%;
    padding-left: 60px;
  }
  .requisites_text {
    font-size: 18px;
    line-height: 117%;
    letter-spacing: -1px;
    margin: 0;
    max-width: 68%;
    padding-left: 10px;
    padding-top: 55px;
  }
  .limitation {
    height: 63px;
    width: 66px;
    opacity: 0.5;
    border: 3.46698px solid #ffffff;
    border-radius: 70px;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    top: 156.32px;
    right: 69.78px;
    margin: 0;
  }
  .limitation_text {
    font-family: "Yandex Sans Text";
    font-style: normal;
    font-weight: 400;
    font-size: 32.6327px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #ffffff;
  }

  .warning_text {
    font-family: "Yandex Sans Text";
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: -5.5px;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.5;
    margin: 0;
    padding-top: 12px;
    word-spacing: 1px;
    max-width: 67%;
    padding-top: 26px;
  }
  .warning {
    height: 130px;
  }
}
@font-face {
  font-family: "Yandex Sans Text";
  src: url("./assets/fonts/YandexSansText-Thin.eot");
  src: local("Yandex Sans Text Thin"),
    local("./assets/fonts/YandexSansText-Thin"),
    url("./assets/fonts/YandexSansText-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/YandexSansText-Thin.woff2") format("woff2"),
    url("./assets/fonts/YandexSansText-Thin.woff") format("woff"),
    url("./assets/fonts/YandexSansText-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Display";
  src: url("./assets/fonts/YandexSansDisplay-Regular.eot");
  src: local("Yandex Sans Display Regular"),
    local("./assets/fonts/YandexSansDisplay-Regular"),
    url("./assets/fonts/YandexSansDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/YandexSansDisplay-Regular.woff2") format("woff2"),
    url("./assets/fonts/YandexSansDisplay-Regular.woff") format("woff"),
    url("./assets/fonts/YandexSansDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url("./assets/fonts/YandexSansText-RegularItalic.eot");
  src: local("Yandex Sans Text Regular Italic"),
    local("./assets/fonts/YandexSansText-RegularItalic"),
    url("./assets/fonts/YandexSansText-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/YandexSansText-RegularItalic.woff2") format("woff2"),
    url("./assets/fonts/YandexSansText-RegularItalic.woff") format("woff"),
    url("./assets/fonts/YandexSansText-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Yandex Sans Display";
  src: url("./assets/fonts/YandexSansDisplay-RegularItalic.eot");
  src: local("Yandex Sans Display Regular Italic"),
    local("./assets/fonts/YandexSansDisplay-RegularItalic"),
    url("./assets/fonts/YandexSansDisplay-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/YandexSansDisplay-RegularItalic.woff2") format("woff2"),
    url("./assets/fonts/YandexSansDisplay-RegularItalic.woff") format("woff"),
    url("./assets/fonts/YandexSansDisplay-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Yandex Sans Display";
  src: url("./assets/fonts/YandexSansDisplay-Light.eot");
  src: local("Yandex Sans Display Light"),
    local("./assets/fonts/YandexSansDisplay-Light"),
    url("./assets/fonts/YandexSansDisplay-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/YandexSansDisplay-Light.woff2") format("woff2"),
    url("./assets/fonts/YandexSansDisplay-Light.woff") format("woff"),
    url("./assets/fonts/YandexSansDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url("./assets/fonts/YandexSansText-Regular.eot");
  src: local("Yandex Sans Text Regular"),
    local("./assets/fonts/YandexSansText-Regular"),
    url("./assets/fonts/YandexSansText-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/YandexSansText-Regular.woff2") format("woff2"),
    url("./assets/fonts/YandexSansText-Regular.woff") format("woff"),
    url("./assets/fonts/YandexSansText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url("./assets/fonts/YandexSansText-Light.eot");
  src: local("Yandex Sans Text Light"),
    local("./assets/fonts/YandexSansText-Light"),
    url("./assets/fonts/YandexSansText-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/YandexSansText-Light.woff2") format("woff2"),
    url("./assets/fonts/YandexSansText-Light.woff") format("woff"),
    url("./assets/fonts/YandexSansText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Display";
  src: url("./assets/fonts/YandexSansDisplay-Bold.eot");
  src: local("Yandex Sans Display Bold"),
    local("./assets/fonts/YandexSansDisplay-Bold"),
    url("./assets/fonts/YandexSansDisplay-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/YandexSansDisplay-Bold.woff2") format("woff2"),
    url("./assets/fonts/YandexSansDisplay-Bold.woff") format("woff"),
    url("./assets/fonts/YandexSansDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Display";
  src: url("./assets/fonts/YandexSansDisplay-Thin.eot");
  src: local("Yandex Sans Display Thin"),
    local("./assets/fonts/YandexSansDisplay-Thin"),
    url("./assets/fonts/YandexSansDisplay-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/YandexSansDisplay-Thin.woff2") format("woff2"),
    url("./assets/fonts/YandexSansDisplay-Thin.woff") format("woff"),
    url("./assets/fonts/YandexSansDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url("./assets/fonts/YandexSansText-Bold.eot");
  src: local("Yandex Sans Text Bold"),
    local("./assets/fonts/YandexSansText-Bold"),
    url("./assets/fonts/YandexSansText-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/YandexSansText-Bold.woff2") format("woff2"),
    url("./assets/fonts/YandexSansText-Bold.woff") format("woff"),
    url("./assets/fonts/YandexSansText-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url("./assets/fonts/YandexSansText-Medium.eot");
  src: local("Yandex Sans Text Medium"),
    local("./assets/fonts/YandexSansText-Medium"),
    url("./assets/fonts/YandexSansText-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/YandexSansText-Medium.woff2") format("woff2"),
    url("./assets/fonts/YandexSansText-Medium.woff") format("woff"),
    url("./assets/fonts/YandexSansText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
