html {
  background-color: #558324;
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  justify-content: center;
  overflow: hidden;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: move 20s;
  animation-timing-function: steps(1);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.container_content {
  max-height: 250px;
}
.yandex_logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 132%;
  align-items: flex-end;
  padding-top: 10px;
}

.additional_information {
  top: 458%;
}
.product {
  top: 241%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding-left: 24px;
}
.yandex {
  padding: 6px 13.19px 0 0;
}
.logo {
  animation-name: logo;
  animation-duration: 1s;
  animation-delay: 2s;
  padding-bottom: 1px;
}
.market {
  padding: 5px 0 0 14.72px;
}

.sheet_right {
  position: absolute;
  top: 50px;
  right: 15px;
}
.img {
  margin-bottom: -16px;
}

.pils_right {
  position: relative;
  z-index: 100;
  right: 3px;
}
.text {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
}
.title_product {
  font-family: "Yandex Sans Display";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 90%;
  color: #ffffff;
  margin: 0;
  padding: 47px 0px 0 6px;
  max-width: 270px;
}
.title_delivery {
  margin: 0;
  font-family: "Yandex Sans Display";
  font-style: normal;
  font-weight: 900;
  font-size: 38px;
  line-height: 96%;
  font-feature-settings: "pnum" on, "lnum" on;
  padding-right: 13px;
  word-spacing: -3px;
  color: #ffffff;
}
.sign_slide_one {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin: 28px 0 0 5px;
  opacity: 0.5;
  letter-spacing: -2px;
}
.delivery {
  top: 358%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding-left: 20px;
}
.left_img_slide_two {
  margin-bottom: -3px;
}
.sheet_right_slide_two {
  padding-top: 23px;
  position: relative;
  z-index: -100;
  right: 15px;
}
.img_slide_two {
  margin-bottom: -3px;
}
.text_slide_two {
  position: relative;
  left: 9px;
  top: 3px;
}
.pils_right_slide_two {
  position: relative;
  bottom: 12px;
  left: 34px;
}
.sign_slide_two {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  display: flex;
  color: #ffffff;
  opacity: 0.5;
  margin: 17px 0 0 0;
  letter-spacing: -2.5px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.content_information {
  padding: 32px 0 0 33px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
}
.information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  right: 2px;
}
.requisites_text {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 90%;
  letter-spacing: -0.09em;
  color: #ffffff;
  opacity: 0.5;
  margin: 0;
}
.limitation {
  height: 32px;
  width: 68px;
  opacity: 0.5;
  border: 0.96905px solid #ffffff;
  border-radius: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  right: 31px;
}
.limitation_text {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
}

.warning_text {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: -3.8px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
  margin: 0;
  padding-top: 12px;
  word-spacing: 1px;
}
.sheet_right,
.sheet_right_slide_two {
  animation: sheet_move 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.yandex_logo,
.product,
.delivery,
.additional_information {
  position: relative;
  animation: slideshow 5s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-iteration-count: infinite;
}
.pils_right_min,
.pils_right_slide_two_min {
  display: none;
}
@keyframes slideshow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes move {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-175%);
  }
  50% {
    transform: translateY(-375%);
  }
  75% {
    transform: translateY(-575%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes logo {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
@keyframes sheet_move {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes sheet_move_right {
  0% {
    transform: rotate(251deg);
  }

  50% {
    transform: rotate(271deg);
  }
  100% {
    transform: rotate(251deg);
  }
}
@media (max-width: 539px) {
  .pils_right,
  .pils_right_slide_two {
    display: none;
  }
  .pils_right_min,
  .pils_right_slide_two_min {
    display: block;
    position: relative;
    z-index: 100;
  }
  .yandex_logo {
    top: 128%;
  }
  .yandex {
    width: 36%;
    padding: 6px 7.47px 0 0;
  }
  .logo {
    width: 12%;
  }
  .market {
    width: 37%;
    padding: 0px 0 0 8.3px;
  }
  .text {
    max-width: 187px;
  }
  .title_product {
    font-weight: 900;
    font-size: 33px;
    line-height: 90%;
    padding: 4px 0px 0 3px;
  }
  .sign_slide_one {
    font-weight: 400;
    font-size: 14px;
    line-height: 90%;
    position: relative;
    top: 22px;
    margin: 29px 41px 0px 1px;
  }
  .product {
    top: 251%;
  }
  .pils_right_min {
    right: 3px;
  }
  .sheet_right {
    position: absolute;
    width: 38%;
    top: 61px;
    right: 46px;
    transform: rotate(251deg);
  }
  .title_delivery {
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 90%;
    padding-right: 0;
    max-width: 175px;
    word-spacing: -1px;
  }
  .sign_slide_two {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 90%;
    position: relative;
    top: 43px;
    letter-spacing: -1.5px;
  }
  .delivery {
    top: 364%;
  }
  .text_slide_two {
    left: 6px;
    top: 0px;
  }
  .pils_right_slide_two_min {
    top: 11px;
    left: 15px;
  }
  .sheet_right_slide_two {
    position: absolute;
    width: 38%;
    top: 63px;
    right: 57px;
    transform: rotate(251deg);
  }
  .content_information {
    padding: 41px 0 0 27px;
  }
  .additional_information {
    top: 470%;
  }
  .requisites_text {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 104%;
    letter-spacing: -0.05em;
  }
  .warning_text {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    padding-right: 33px;
    line-height: 100%;
    letter-spacing: -2.7px;
  }
  .limitation {
    height: 28px;
    width: 28px;
    right: 29px;
    bottom: 5px;
    position: absolute;
  }
  .sheet_right,
  .sheet_right_slide_two {
    animation: sheet_move_right 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
}
@font-face {
  font-family: "Yandex Sans Text";
  src: url("./assets/fonts/YandexSansText-Thin.eot");
  src: local("Yandex Sans Text Thin"),
    local("./assets/fonts/YandexSansText-Thin"),
    url("./assets/fonts/YandexSansText-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/YandexSansText-Thin.woff2") format("woff2"),
    url("./assets/fonts/YandexSansText-Thin.woff") format("woff"),
    url("./assets/fonts/YandexSansText-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Display";
  src: url("./assets/fonts/YandexSansDisplay-Regular.eot");
  src: local("Yandex Sans Display Regular"),
    local("./assets/fonts/YandexSansDisplay-Regular"),
    url("./assets/fonts/YandexSansDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/YandexSansDisplay-Regular.woff2") format("woff2"),
    url("./assets/fonts/YandexSansDisplay-Regular.woff") format("woff"),
    url("./assets/fonts/YandexSansDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url("./assets/fonts/YandexSansText-RegularItalic.eot");
  src: local("Yandex Sans Text Regular Italic"),
    local("./assets/fonts/YandexSansText-RegularItalic"),
    url("./assets/fonts/YandexSansText-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/YandexSansText-RegularItalic.woff2") format("woff2"),
    url("./assets/fonts/YandexSansText-RegularItalic.woff") format("woff"),
    url("./assets/fonts/YandexSansText-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Yandex Sans Display";
  src: url("./assets/fonts/YandexSansDisplay-RegularItalic.eot");
  src: local("Yandex Sans Display Regular Italic"),
    local("./assets/fonts/YandexSansDisplay-RegularItalic"),
    url("./assets/fonts/YandexSansDisplay-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/YandexSansDisplay-RegularItalic.woff2") format("woff2"),
    url("./assets/fonts/YandexSansDisplay-RegularItalic.woff") format("woff"),
    url("./assets/fonts/YandexSansDisplay-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Yandex Sans Display";
  src: url("./assets/fonts/YandexSansDisplay-Light.eot");
  src: local("Yandex Sans Display Light"),
    local("./assets/fonts/YandexSansDisplay-Light"),
    url("./assets/fonts/YandexSansDisplay-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/YandexSansDisplay-Light.woff2") format("woff2"),
    url("./assets/fonts/YandexSansDisplay-Light.woff") format("woff"),
    url("./assets/fonts/YandexSansDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url("./assets/fonts/YandexSansText-Regular.eot");
  src: local("Yandex Sans Text Regular"),
    local("./assets/fonts/YandexSansText-Regular"),
    url("./assets/fonts/YandexSansText-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/YandexSansText-Regular.woff2") format("woff2"),
    url("./assets/fonts/YandexSansText-Regular.woff") format("woff"),
    url("./assets/fonts/YandexSansText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url("./assets/fonts/YandexSansText-Light.eot");
  src: local("Yandex Sans Text Light"),
    local("./assets/fonts/YandexSansText-Light"),
    url("./assets/fonts/YandexSansText-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/YandexSansText-Light.woff2") format("woff2"),
    url("./assets/fonts/YandexSansText-Light.woff") format("woff"),
    url("./assets/fonts/YandexSansText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Display";
  src: url("./assets/fonts/YandexSansDisplay-Bold.eot");
  src: local("Yandex Sans Display Bold"),
    local("./assets/fonts/YandexSansDisplay-Bold"),
    url("./assets/fonts/YandexSansDisplay-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/YandexSansDisplay-Bold.woff2") format("woff2"),
    url("./assets/fonts/YandexSansDisplay-Bold.woff") format("woff"),
    url("./assets/fonts/YandexSansDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Display";
  src: url("./assets/fonts/YandexSansDisplay-Thin.eot");
  src: local("Yandex Sans Display Thin"),
    local("./assets/fonts/YandexSansDisplay-Thin"),
    url("./assets/fonts/YandexSansDisplay-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/YandexSansDisplay-Thin.woff2") format("woff2"),
    url("./assets/fonts/YandexSansDisplay-Thin.woff") format("woff"),
    url("./assets/fonts/YandexSansDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url("./assets/fonts/YandexSansText-Bold.eot");
  src: local("Yandex Sans Text Bold"),
    local("./assets/fonts/YandexSansText-Bold"),
    url("./assets/fonts/YandexSansText-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/YandexSansText-Bold.woff2") format("woff2"),
    url("./assets/fonts/YandexSansText-Bold.woff") format("woff"),
    url("./assets/fonts/YandexSansText-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url("./assets/fonts/YandexSansText-Medium.eot");
  src: local("Yandex Sans Text Medium"),
    local("./assets/fonts/YandexSansText-Medium"),
    url("./assets/fonts/YandexSansText-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/YandexSansText-Medium.woff2") format("woff2"),
    url("./assets/fonts/YandexSansText-Medium.woff") format("woff"),
    url("./assets/fonts/YandexSansText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
